.navbar {
    height: 100px;
    color:whitesmoke;
    margin: 20px;
    margin-bottom: 15px;
    background-color:#333;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}